<p style="text-align: center;"><strong>Foreign Language Department: French &amp; Spanish</strong></p>
<p style="text-align: center;"></p>
<strong><u>Foreign Language Level I</u></strong>

First year language courses are designed for the beginner, typically in the 8<sup>th</sup> or 9<sup>th</sup> grade.  In these courses, students concentrate on learning the basics in grammar and composition, listening comprehension, and oral production.  Units are designed around common situations in which a visitor to another country might find him or herself, such as introductions and expressions of politeness, ordering food, shopping, asking and giving directions, taking public transportation, discussing school and pastimes with others.  In addition, students explore the similarities and differences between their own culture and the cultures of other lands.  Although there is currently no state or national End of Course exam, students in first year language classes do take a district-level exam to determine mastery.  Courses comply with the Tennessee state curriculum guidelines for first year foreign language.


<strong><u>Foreign Language Level II</u></strong>

In the second year of language, students continue to expand and refine their knowledge and use of the target language.  Frequently the students will read novels in the language, pursue individual research projects, or explore as a class some aspect of the target culture, such as cinema, drama, or art.  Deepening understanding of the language structures enables students to converse more freely and on topics, which are interesting to them.  Second year courses follow the curriculum guidelines for the state of Tennessee.