<h1>Math Courses</h1>

<h2>

    6th and 7th Grade

</h2>

<p>

    In the sixth and seventh grades, students take math every day. Students receive the typical grade-level mathematics course plus a pre-algebra emphasis. There is a significant focus on ratio and proportional reasoning in preparation for Algebra I in eighth grade. This is supplemented with a strong emphasis on learning through inquiry and participating in high level thinking tasks. Students will gain a high degree of procedural skill and fluency, a foundation for conceptualizing mathematic scenarios, and the ability to problem solve with mathematics inside and outside the classroom.

</p>

<h2>

    Honors Algebra 1

</h2>

<p>

    A foundation course offered to students in eighth grade to prepare them for all subsequent mathematics courses. The fundamental purpose of this course is to formalize and extend the mathematics that students learned in the middle grades. Topics of the course include the properties of real numbers, reasoning with equations and inequalities, operations on

    polynomial and rational expressions, factoring, building functions that represent linear, quadratic and exponential data, and problem solving. CCA students take high school Algebra I in eighth grade, unless they enter the school in ninth grade without this math credit. This class meets every day, and students receive two high school credits for this class (one Algebra I credit and one math elective credit). Depending upon need, there may also be a single block class with a single credit offered for some students. A TI-84 calculator is recommended for use in this class and all math classes that follow.

</p>

<h2>

    Honors Geometry

</h2>

<p>

    Geometry is the mathematical study of shape, size, position, and space. This course includes both deductive and discovery approaches to Euclidean geometry, its algebraic foundations, and its real-world applications. Students will observe patterns, develop conjectures, and prove theorems which are then used to solve problems. Justifiable reasoning is emphasized throughout the course in addition to formal proofs. Transformations form the foundation of both triangle congruence and similarity units. Other topics include parallels and transversals,
