<h2>CCA SCIENCE COURSES</h2>

<h3>Sixth Grade</h3>
<p>This course explores interdependence through principles of ecology and the interactions of the living world with the non-living environment. The universe is studied by studying the solar system and the interactions of the sun, planets, and moons.  The atmosphere is examined by a study of air and oceanic currents produced by solar energy. Students analyze the law of conservation of energy as it relates to various forms of potential and kinetic energy. Electricity is explored through the construction of simple electric circuits.  Typically, all 6th graders travel to the Challenger Center for a hands-on space exploration activity.</p>
<h3>Seventh Grade</h3>
<p>Students will study a variety of science concepts which include:  the scientific method and experimental bias/error, the tools used in science, the engineering design process, adaptive and assistive technologies, cells and cellular processes, human body systems, sexual and asexual reproduction, genetics, rocks and minerals, earth science, simple machines, simple physics, Newton’s Laws, and waves.</p>
<h3>Eighth Grade</h3>
<p>Students will study several science concepts which include:  the scientific method and experimental bias/error, the tools used in science, the engineering design process, adaptation, biodiversity, classification, introductory chemistry, and electromagnetism.</p>
<h3>Ninth Grade</h3>
<h4>Physical World Concepts</h4>
<p>Students investigate mechanics and motion, energy, thermodynamics, waves and optics, electricity and magnetism, and nuclear science in this class. With many hands-on and inquiry-based activities that integrate math skills, this course also prepares students for the upper-level courses that follow.</p>
<h3>Tenth Grade</h3>
<h4>Honors Chemistry 1</h4>
<p>Students study the physical and chemical characteristics of matter, kinetic molecular theory, atomic theory, chemical bonding and compounds, chemical reactions, stoichiometry, gas laws, acids and bases. This lab-intensive course integrates math and engineering design cycle and develops analytical thinking and writing skills. Algebra I is a prerequisite for this course.</p>
<h3>Eleventh Grade</h3>
<h4>Honors Biology 1</h4>
<p>Students learn about the cell and basic life processes, including respiration, photosynthesis, cell division, genetics and DNA technology, as well as how organisms interact, focusing on ecology and evolution. This course culminates with a week of dissections where students study the physical structures of starfish, crayfish, perch, clam, earthworm and frog.</p>
<h3>Twelfth Grade</h3>
<h4>Advanced Placement Environmental Science</h4>
<p>This course is ideal for students who plan to pursue public relations, law, political science, humanities, and other liberal arts subjects. The focus in on man’s interactions with the environment, and topics explored include ecology, land use, population growth, energy resources, pollution, and climate change.</p>