The Acting Department at Center for Creative Arts is taught by Margaret Hudgins and Ray Laliberte.

<span style="text-decoration: underline;"><strong>Beginning Theater</strong></span>

Students identify and practice basic acting skills, including body awareness, improvisation, and characterization.

Grades 6-8, majors and non-majors

<span style="text-decoration: underline;"><strong>Intermediate Theater</strong></span>

Students explore the use of their bodies, voices, and minds in the practice of theatre.  Exploration occurs through warm-ups, theatre games, and practical applications such as showcase programs and full performances.

Grades 7-8, majors only or permission of instructor required. Pre-requisite: Beginning Theatre

<span style="text-decoration: underline;"><strong>Acting I</strong></span>

Students learn Uta Hagen’s six steps of acting – a specific technique – using monologues and period and contemporary scene work, as well as a Shakespearean text.  This class culminates in a showcase performance.

Grades 9-12, majors and non-majors

<strong><u>Acting II </u></strong>

Course builds on script analysis begun in Acting I. Students will prepare a monologue each month, working towards establishing a portfolio of work.  In addition to the 6 Steps by Uta Hagen, students learn the “12 Guideposts to Analysis”, and the “25 Questions to respond to in order to prepare a scene”.  Students are responsible for writing a personal autobiography, and preparing and producing a Master Presentation that details their personal Philosophy entitled, “The Mask I Wear”.

Grades 10-12, majors and non-majors.  Pre-requisite: Acting I or Permission of Instructor

<strong><u>Historical Styles(offered every other year 2017-2018) </u></strong>

Course combines an overview of the History of the Theatre with reading appropriate plays from each era.  Beginning with the Greek Period, students progress through the Roman Period; the Medieval Period; The English, French, Italian and Spanish Renaissance; and finally the modern Period, focusing on Dramatic Realism and the genres that grew up as a response to it. Playwrights examined include Sophocles, Aeschylus, Hroswitha, Shakespeare, Ibsen, Strindberg, Chekhov,   Albee, Williams, Miller, Ionesco, and others.

For grades 9-12. Open to all majors

<strong><u>Voice and Diction (Offered every other year 2017-18)</u></strong>

This course is a skills and technique course.  Vocal production is the single strongest component of performance that is teachable, within an actor’s control, and capable of maturing in response to exercise and training.  We will begin with a study of the physical and anatomical basis for strong, effective vocal production.  The student will learn about different vocal qualities and how to produce them.  Additionally, the student will learn the International Phonetic Alphabet.  The primary expectation will be for the student to develop and utilize at will a pattern of speech that is without regionalism. The focus will eventually shift to a study of dialects. Final project is the creation of a professional voice acting demo reel.

For grades 9-12. Open to all majors

<strong><u>Movement for the Actor</u></strong>

Through exercises in strength training, flexibility, balance, coordination, and self-awareness, student learn communication and physical expression.  Specific techniques are emphasized.

For grades 9-12 majors; non-majors by permission

<strong><u>Theatre Sports</u></strong>

Students develop listening skills and abilities in spontaneity and living “in the moment.”  Improvisation, creation of narrative, and support for ensemble are the mainstays of class activity.

Grades 9-12 majors; non-majors by permission

<strong><u>Actors Repertory Ensemble (formerly Rehearsal &amp; Performance)</u></strong>

Actors Repertory Ensemble is a class for 10th through 12th grades.  Students will use class time to research and choose plays for the ensemble as if it were a student run theater company.  First semester is devoted to children’s theater which students perform in house for incoming elementary schools as well as the general public.  Second semester is devoted to one act plays which are performed in the evenings for the public.  Students use class time to practice techniques learned in other classes with each text.  Students learn to manage time, bring ideas to rehearsal, practice acting and collaborate on different levels for a final product.

Grades 10-12 majors only or by instructor permission.  Pre-requisites: Acting I &amp; Theatre Sports

<strong><u>Directing </u></strong>

Course begins with the history of directing and the emergence of the Modern Director.  Students will learn specialized techniques of directing including the following: selection of material, script analysis, concept development, scene breakdown, elements of the production design team, design for the stage, creation of ground plans, director-designer communication, rehearsal climate, use of improvisation, methods of achieving emphasis, and blocking.  Students will create a production prompt book for a full-length play, as if they were the director.  Students will direct short scenes for classroom view. During the second semester, students will be responsible for directing an entire one-act play for view in a laboratory setting with an audience.

Grades 11-12, majors; non-majors by permission

<strong><u>Playwriting </u></strong>

Course begins with writing monologues. First monologues are written in the writer’s personal voice (same age, gender, background).  Later monologues must experiment with a different voice (opposite gender, diverse age, differing background).   Thereafter, students are expected to write dialogue scenes each week, following a prescribed format, in response to selected criteria.  Among the required written scenes are these:  a scene dramatizing material from another media; a scene based on an already existing written “Universe”;   a scene based on a moral dilemma; a scene based on a photograph; a scene based on the True Colors Characterization; a scene utilizing overlapping dialogue; and others.  The second semester will require the student to write at least one short one-act play and prepare and submit same to a nationally recognized play competition.

Grades 9-12, majors and non-majors.
