<h1>Communications</h1>


<p>The Communications Department is taught by Justin Black, Sandra Howard, Carol Lockrow, Meri Sowders, and Christina Zerr.</p>
<h2>Publication Submissions:</h2>
<!--fix the links--> <li><a href="https://www.google.com/search?q=david+lynch+hair&biw=1920&bih=911&source=lnms&tbm=isch&sa=X&ved=0ahUKEwj7v8nG2szJAhVvm4MKHXRyBNYQ_AUIBigB&safe=active&ssui=on">Yearbook Photos Submissions</a></li>
<li><a href="https://www.google.com/search?q=david+lynch+hair&biw=1920&bih=911&source=lnms&tbm=isch&sa=X&ved=0ahUKEwj7v8nG2szJAhVvm4MKHXRyBNYQ_AUIBigB&safe=active&ssui=on">Shift Literary Arts Magazine Submissions</a></li>
<h2>Communications Courses</h2>
<h3>Middle School Writers' Studio</h3>
<p>This course is a broad study that exposes students to the genres and techniques in the communications/writing field. Students will read and write in various genres and begin to learn the practice of presentation of written work. This course is for first and second year middle school writers and non-majors interested in learning more about communications/ creative writing.</p>

<p>Grades 6-8, majors; non-majors by permission</p>
<h3>Advertising | (offered every other year)</h3>
<p>Students study the various elements of advertising and learn to work both independently and within groups (agency–style) to develop advertisements for school and community events. Students work collaboratively with other classes and groups to learn and practice the sales side of advertising. Professionals are brought in from the community to expose students to the applications of advertising in the real world.</p>
<p>Grades 9-12, majors; non-majors by permission</p>

<h3>Literature Workshop | (offered every other year)</h3>
<p>Introductory creative writing course studied through the framework of selected writers, genres, and cultural events.  Writers will develop the foundation for their own writing aesthetic through personal and collaborative workshops.  Special topics will include British, World, American, and modern Southern authors, and performance/presentation.</p>
<p>Grades 9-10, majors only</p>

<h3>Publications</h3>
<p>This course allows students to create original works for outside publications, writing competitions, CCA’s literary arts magazine, and other special projects such as Yearbook. Each student will develop expertise in editing and all modes of writing.</p>
<p>Grades 9-12, majors only; non-majors by permission. Pre-Requisites: None</p>

<h3>Writers Portfolio | (offered every other year)</h3>
<p>This course is an intensive writing workshop for students in the Communications department.  Writers will be concerned with the unique development of their individual artistic voice through critical and rigorous writing experiences.  Writers will create a variety of original work spanning genres to include in their portfolio.  There will be additional emphasis placed on mastery of technique, craftsmanship, and presentation.</p>
<p>Majors: Grades 10-12.</p>

<h3>Art of Technology (Middle School)</h3>
<p>This course is designed as an introduction to computer skills. Basic Keyboarding will be covered in addition to fundamental software programs and applications. Students will also have the opportunity to incorporate the use of technology in the art major through a culminating activity.</p>
<p>Grades 6-8, non-majors by permission</p>

<h3>Art of Technology  (High School)</h3>
<p>This course will be designed to utilize technology to communicate in a variety of ways. Many applications and various media will be taught to enable students to create/maintain a portfolio, to learn about electronic formatting and publishing, and many other skills needed in the 21st century. Students will work on a school-wide culminating project throughout the year.</p>
<p>Grades 9-12, non-majors by permission</p>

<h3>Fiction & Poetry - Inquiry, Interpretation, and Invention | (offered every other year)</h3>
<p>This course is designed to provide a deep exploration of various forms of fiction and poetry. Genres and topics will alternate by quarter. We will study both short fiction and poetry throughout the course and will focus on analyzing the elements of particular categories and writing creatively in each. Topics for the course may include but not be limited to flash fiction, graphic fiction, fantasy fiction, monster fiction, technological fiction, epic poetry, ballad poetry, the ode, spoken word, and literary adaptation. Students will continue to add pieces to their writing portfolios throughout this course.</p>
<p>Grades 9-12 majors, non-majors by permission</p>
