<a href="http://centerforcreativearts.net/wp-content/uploads/2015/11/instramus.jpg" rel="attachment wp-att-3989"><img class="alignnone size-medium wp-image-3989" src="http://centerforcreativearts.net/wp-content/uploads/2015/11/instramus-300x101.jpg" alt="instramus" width="300" height="101" /></a>

The Instrumental Music Department teachers are Adam Hale, David Hoffecker, Jessica Peck, and Marcia Smith.

Course Descriptions

<strong><u>Piano</u></strong>

Students with or without prior experience play piano and receive instruction in music theory. Students must be committed to practice outside of class and achieve a level of self-discipline. Piano is a multi-leveled course, therefore each lesson is very individualized. A variety of repertoire from Baroque to Contemporary will be studied.

Grades 6-12, any major

<strong><u>Beginning Winds and Percussion</u></strong>

This course is designed to prepare students for Intermediate and high school wind ensemble. Students will learn to properly care for and maintain their instrument as well as learn to sight read music. Students are expected to practice weekly.

Grades 6-9 majors and non-majors

<strong><u>Intermediate Winds and Percussion</u></strong>

Emphasis is on increasing music-reading ability, mastering more advanced techniques, and developing the musical maturity needed to succeed as a member of an advanced performing group.

<em>Grades 6-9 majors; non-majors by permission</em>

<strong><u>Beginning String Orchestra</u></strong>

This course is designed to prepare students for a high school orchestra setting. Students will learn how to hold their instrument, read music, have good intonation, and sight read.  Students will perform Baroque, Classical, Romantic, and Contemporary music.  Students are expected to practice 100 minutes per week.

Grades: 6-9 (exceptions with approval), strings majors or permission required.

<strong><u>Intermediate String Orchestra</u></strong>

This course is designed to prepare students for a high school orchestra setting. Students should know how to read music, have good intonation, and sight read before entering this class.  Students will learn how to shift and use vibrato during the course. Students will perform Baroque, Classical, Romantic, and Contemporary music.  Students are expected to practice 150 minutes per week.

Grades: 6-9 (exceptions with approval), strings majors. Prerequisites: Beginning strings

<strong><u>Advanced String Orchestra</u></strong>

This course is designed to prepare students for a college and professional orchestra setting. Students should know how to read music, shift, use vibrato, have good intonation, and sight read before entering this class.  Students will perform Baroque, Classical, Romantic, and Contemporary music.  Students will also learn to rehearse in a chamber music setting; coaches from surrounding universities and symphonies will assist.  Students are expected to practice 150 minutes per week.

Grades: 9-12 (exceptions with teacher approval), strings majors. Prerequisites: Intermediate strings

<strong><u>Wind Ensemble</u></strong>

Course is designed for students who have mastered the fundamentals and are capable of performing more difficult music pieces. This course emphasizes advanced music-reading skills, production of a mature sound, developing musical independence necessary to contribute to the success of ensemble, and public performance skills.

Grades 8-12, majors; non-majors by permission

<strong><u>Chamber Orchestra</u></strong>

Students prepare and perform standard orchestral repertoire from the Baroque to contemporary periods.  The ensemble is open to string, woodwind, brass, and percussion students who exhibit the highest level of technical proficiency.

Grades 9-12, majors; non-majors by permission

<strong><u>Classical Guitar</u></strong>

This is a class for intermediate and advanced guitarists.  It is an intensive study of repertoire in an ensemble setting, with recitals each semester.  The emphasis is on performance, technical development, music reading, and musical expression.  A classical guitar is required.

Grades 9-12, majors; non-majors by permission

<strong><u>Music Appreciation</u></strong>

Students investigate various styles of music throughout history including jazz, pop, Classical, folk, and ethnic idioms.  The principal focus is on elements common to all music and on how we as listeners experience diverse styles.

Grades 9-12, majors and non-majors

<strong><u>Music Theory</u></strong>

This course is designed to prepare students for college music theory, as well as providing a more comprehensive understanding of how music is constructed.   Students will develop skills in reading, writing, and hearing music correctly.  Sight singing and ear training are both important parts of this curriculum.  The textbook for this course is Alfred’s Essentials of Music Theory.

Grade Level: 9-12; Instrumental, Musical Theater, and Choral Majors.

<strong><u>Advanced Placement Music Theory </u></strong>

This course will cover primarily the musical principles of Common practice period.  The Common practice period spans the Baroque, Classical, and Romantic musical periods.  Students will learn the rules of four-part harmonization as well as sight singing and ear training.  A prerequisite for this class is basic music theory (pass with an A/B average), the ability to read music in at least one clef, and have experience playing an instrument or singing at the high school level.  This class will cover material that is part of the first-year theory course of college music majors. Students who successfully complete the requirements of this class will develop more advanced skills in reading and writing music as well as in hearing music correctly. Students who take the AP Exam will receive an additional 5 points on their final average.

Grade Level: 10-12, majors; non-majors by permission. Prerequisites: Music Theory

<strong><u>Music Composition (offered every other year 2017-18)</u></strong>

Students will have the opportunity to write their own music and perform it for an audience of their peers. Class will also involve a lot of sight singing and melodic dictation.  This will help them to develop their “inner ear”, so that they can work more successfully without a piano to help them compose.  We will be using the Music Composition textbook, by Michael Miller, as the main textbook.  This book will be provided through the Music Composition class fee.  In order to register for this class it is required that the student pass Music Theory with an A/B average, be able to read music fluently in one clef, and play an instrument or sing at high school level.  Students in this class should be able to work independently and have a good sense of work ethic. The fee for this class is $20, which includes staff paper and the textbook.

Grade Level: 10-12, majors: non-majors by permission. Prerequisites: A/B average in Music Theory

<strong><u>Aesthetics and Criticism</u></strong>

Students are introduced to a continuum of thought on the arts in Western society.  Students investigate the broader philosophical, theological, historical, and psychological milieu in which the arts grew and flourished.

Various artists and works from all art disciplines are examined in depth.

Grades 10-12 majors and non-majors

<span style="text-decoration: underline;"><strong>Beginning Winds and Percussion</strong></span>
This course is designed to prepare students for Intermediate and high school wind ensemble. Students will learn to properly care for and maintain their instrument as well as learn to sight read music. Students are expected to practice weekly.

Grades 6-9 majors and non-majors

<span style="text-decoration: underline;"><strong>Intermediate Winds and Percussion</strong></span>
Emphasis is on increasing music-reading ability, mastering more advanced techniques, and developing the musical maturity needed to succeed as a member of an advanced performing group.

Grades 6-9 majors; non-majors by permission

<span style="text-decoration: underline;"><strong>Beginning String Orchestra</strong></span>
This course is designed to prepare students for a high school orchestra setting. Students will learn how to hold their instrument, read music, have good intonation, and sight read. Students will perform Baroque, Classical, Romantic, and Contemporary music. Students are expected to practice 100 minutes per week.

Grades: 6-9 (exceptions with approval), strings majors or permission required.

<strong><span style="text-decoration: underline;">Intermediate String Orchestra</span></strong>
This course is designed to prepare students for a high school orchestra setting. Students should know how to read music, have good intonation, and sight read before entering this class. Students will learn how to shift and use vibrato during the course. Students will perform Baroque, Classical, Romantic, and Contemporary music. Students are expected to practice 150 minutes per week.

Grades: 6-9 (exceptions with approval), strings majors. Prerequisites: Beginning strings

<span style="text-decoration: underline;"><strong>Advanced String Orchestra</strong></span>
This course is designed to prepare students for a college and professional orchestra setting. Students should know how to read music, shift, use vibrato, have good intonation, and sight read before entering this class. Students will perform Baroque, Classical, Romantic, and Contemporary music. Students will also learn to rehearse in a chamber music setting; coaches from surrounding universities and symphonies will assist. Students are expected to practice 150 minutes per week.

Grades: 9-12 (exceptions with teacher approval), strings majors. Prerequisites: Intermediate strings

<span style="text-decoration: underline;"><strong>Wind Ensemble</strong></span>
Course is designed for students who have mastered the fundamentals and are capable of performing more difficult music pieces. This course emphasizes advanced music-reading skills, production of a mature sound, developing musical independence necessary to contribute to the success of ensemble, and public performance skills.

Grades 8-12, majors; non-majors by permission

<span style="text-decoration: underline;"><strong>Chamber Orchestra</strong></span>
Students prepare and perform standard orchestral repertoire from the Baroque to contemporary periods. The ensemble is open to string, woodwind, brass, and percussion students who exhibit the highest level of technical proficiency.

Grades 9-12, majors; non-majors by permission

<span style="text-decoration: underline;"><strong>Classical Guitar</strong></span>
This is a class for intermediate and advanced guitarists. It is an intensive study of repertoire in an ensemble setting, with recitals each semester. The emphasis is on performance, technical development, music reading, and musical expression. A classical guitar is required.

Grades 9-12, majors; non-majors by permission

<span style="text-decoration: underline;"><strong>Music Appreciation</strong></span>
Students investigate various styles of music throughout history including jazz, pop, Classical, folk, and ethnic idioms. The principal focus is on elements common to all music and on how we as listeners experience diverse styles.

Grades 9-12, majors and non-majors

<span style="text-decoration: underline;"><strong>Music Theory</strong></span>
This course is designed to prepare students for college music theory, as well as providing a more comprehensive understanding of how music is constructed. Students will develop skills in reading, writing, and hearing music correctly. Sight singing and ear training are both important parts of this curriculum. The textbook for this course is Alfred’s Essentials of Music Theory.

Grade Level: 9-12; Instrumental, Musical Theater, and Choral Majors.

<span style="text-decoration: underline;"><strong>Advanced Placement Music Theory</strong> </span>
This course will cover primarily the musical principles of Common practice period. The Common practice period spans the Baroque, Classical, and Romantic musical periods. Students will learn the rules of four-part harmonization as well as sight singing and ear training. A prerequisite for this class is basic music theory (pass with an A/B average), the ability to read music in at least one clef, and have experience playing an instrument or singing at the high school level. This class will cover material that is part of the first-year theory course of college music majors. Students who successfully complete the requirements of this class will develop more advanced skills in reading and writing music as well as in hearing music correctly. Students who take the AP Exam will receive an additional 5 points on their final average.

Grade Level: 10-12, majors; non-majors by permission. Prerequisites: Music Theory

<span style="text-decoration: underline;"><strong>Music Composition (offered every other year 2017-18)</strong></span>
Students will have the opportunity to write their own music and perform it for an audience of their peers. Class will also involve a lot of sight singing and melodic dictation. This will help them to develop their “inner ear”, so that they can work more successfully without a piano to help them compose. We will be using the Music Composition textbook, by Michael Miller, as the main textbook. This book will be provided through the Music Composition class fee. In order to register for this class it is required that the student pass Music Theory with an A/B average, be able to read music fluently in one clef, and play an instrument or sing at high school level. Students in this class should be able to work independently and have a good sense of work ethic. The fee for this class is $20, which includes staff paper and the textbook.

Grade Level: 10-12, majors: non-majors by permission. Prerequisites: A/B average in Music Theory

<span style="text-decoration: underline;"><strong>Aesthetics and Criticism</strong></span>
Students are introduced to a continuum of thought on the arts in Western society. Students investigate the broader philosophical, theological, historical, and psychological milieu in which the arts grew and flourished.

Various artists and works from all art disciplines are examined in depth.
Grades 10-12 majors and non-majors

<strong><u>Beginning Winds and Percussion</u></strong>

This course is designed to prepare students for Intermediate and high school wind ensemble. Students will learn to properly care for and maintain their instrument as well as learn to sight read music. Students are expected to practice weekly.

Grades 6-9 majors and non-majors

<strong><u>Intermediate Winds and Percussion</u></strong>

Emphasis is on increasing music-reading ability, mastering more advanced techniques, and developing the musical maturity needed to succeed as a member of an advanced performing group.

<em>Grades 6-9 majors; non-majors by permission</em>

<strong><u>Beginning String Orchestra</u></strong>

This course is designed to prepare students for a high school orchestra setting. Students will learn how to hold their instrument, read music, have good intonation, and sight read.  Students will perform Baroque, Classical, Romantic, and Contemporary music.  Students are expected to practice 100 minutes per week.

Grades: 6-9 (exceptions with approval), strings majors or permission required.

<strong><u>Intermediate String Orchestra</u></strong>

This course is designed to prepare students for a high school orchestra setting. Students should know how to read music, have good intonation, and sight read before entering this class.  Students will learn how to shift and use vibrato during the course. Students will perform Baroque, Classical, Romantic, and Contemporary music.  Students are expected to practice 150 minutes per week.

Grades: 6-9 (exceptions with approval), strings majors. Prerequisites: Beginning strings

<strong><u>Advanced String Orchestra</u></strong>

This course is designed to prepare students for a college and professional orchestra setting. Students should know how to read music, shift, use vibrato, have good intonation, and sight read before entering this class.  Students will perform Baroque, Classical, Romantic, and Contemporary music.  Students will also learn to rehearse in a chamber music setting; coaches from surrounding universities and symphonies will assist.  Students are expected to practice 150 minutes per week.

Grades: 9-12 (exceptions with teacher approval), strings majors. Prerequisites: Intermediate strings

<strong><u>Wind Ensemble</u></strong>

Course is designed for students who have mastered the fundamentals and are capable of performing more difficult music pieces. This course emphasizes advanced music-reading skills, production of a mature sound, developing musical independence necessary to contribute to the success of ensemble, and public performance skills.

Grades 8-12, majors; non-majors by permission

<strong><u>Chamber Orchestra</u></strong>

Students prepare and perform standard orchestral repertoire from the Baroque to contemporary periods.  The ensemble is open to string, woodwind, brass, and percussion students who exhibit the highest level of technical proficiency.

Grades 9-12, majors; non-majors by permission

<strong><u>Classical Guitar</u></strong>

This is a class for intermediate and advanced guitarists.  It is an intensive study of repertoire in an ensemble setting, with recitals each semester.  The emphasis is on performance, technical development, music reading, and musical expression.  A classical guitar is required.

Grades 9-12, majors; non-majors by permission

<strong><u>Music Appreciation</u></strong>

Students investigate various styles of music throughout history including jazz, pop, Classical, folk, and ethnic idioms.  The principal focus is on elements common to all music and on how we as listeners experience diverse styles.

Grades 9-12, majors and non-majors

<strong><u>Music Theory</u></strong>

This course is designed to prepare students for college music theory, as well as providing a more comprehensive understanding of how music is constructed.   Students will develop skills in reading, writing, and hearing music correctly.  Sight singing and ear training are both important parts of this curriculum.  The textbook for this course is Alfred’s Essentials of Music Theory.

Grade Level: 9-12; Instrumental, Musical Theater, and Choral Majors.

<strong><u> </u></strong><strong><u>Advanced Placement Music Theory </u></strong>

This course will cover primarily the musical principles of Common practice period.  The Common practice period spans the Baroque, Classical, and Romantic musical periods.  Students will learn the rules of four-part harmonization as well as sight singing and ear training.  A prerequisite for this class is basic music theory (pass with an A/B average), the ability to read music in at least one clef, and have experience playing an instrument or singing at the high school level.  This class will cover material that is part of the first-year theory course of college music majors. Students who successfully complete the requirements of this class will develop more advanced skills in reading and writing music as well as in hearing music correctly. Students who take the AP Exam will receive an additional 5 points on their final average.

Grade Level: 10-12, majors; non-majors by permission. Prerequisites: Music Theory

<strong><u>Music Composition (offered every other year 2017-18)</u></strong>

Students will have the opportunity to write their own music and perform it for an audience of their peers. Class will also involve a lot of sight singing and melodic dictation.  This will help them to develop their “inner ear”, so that they can work more successfully without a piano to help them compose.  We will be using the Music Composition textbook, by Michael Miller, as the main textbook.  This book will be provided through the Music Composition class fee.  In order to register for this class it is required that the student pass Music Theory with an A/B average, be able to read music fluently in one clef, and play an instrument or sing at high school level.  Students in this class should be able to work independently and have a good sense of work ethic. The fee for this class is $20, which includes staff paper and the textbook.

Grade Level: 10-12, majors: non-majors by permission. Prerequisites: A/B average in Music Theory

<strong><u>Aesthetics and Criticism</u></strong>

Students are introduced to a continuum of thought on the arts in Western society.  Students investigate the broader philosophical, theological, historical, and psychological milieu in which the arts grew and flourished.

Various artists and works from all art disciplines are examined in depth.

Grades 10-12 majors and non-majors
