<h1>Musical Theatre</h1>
<P>
    Musical Theatre at CCA explores all the components of the art of Musical Theatre. Students are enrolled in a musical theatre class every year, in addition to using their electives to further craft their skills and talents in acting, voice, dance, piano, and music theory. The department puts on one middle school and one high school musical each year, in addition to performances by the Choo Choo Kids, an advanced musical theatre troupe auditioned from high school majors.
</P>
<p>

    Middle School majors will take 3 years of musical theatre in addition to one year of acting, one of voice, and one of dance.
</p>
<p>
    High School Majors will take 4 years of musical theatre in addition to two years of acting, two of dance, two of voice, one of piano, and one of music theory.
</p>





<ul>

    <h2>
        <u>Class and Course Descriptions</u>

    </h2>
    <p>
        <strong> Intro to Musical theatre </strong> offers an introduction to the musical and dramatic elements of theatre arts. Students are exposed to selections from the genre, and will participate in individual and group activities including singing, dancing, and reading pieces. No previous experience required, but the desire to participate is mandatory.
    </p>
    <p>

        Grades 6-8, majors and non-majors. Pre-requisites: none
    </p>

    <p>

    </p>
    <p>


        <strong> Musical Theatre 1</strong> offers an introduction to the musical and dramatic elements of theatre arts for musical theatre majors. Students are exposed to classical and contemporary selections from the genre and will develop an understanding for the foundations of musical theatre performance including character analysis and development, reading, analysis and interpretation of musical theatre literature, and solo and group performances.
    </p>

    <p>

        Grades 6–8, majors only. Pre-requisites: none
    </p>

    <p>

        Students learn dance and choreographic principles specifically related to musical theatre.

        Grades 6-8, majors; non-majors by permission
    </p>
    <p>



        Students learn dance and choreographic principles specifically related to musical theatre.

        Grades 9-12, majors; non-majors by permission
    </p>
    <p>



        <strong> Intro to Musical theatre </strong> offers an introduction to the musical and dramatic elements of theatre arts. Students are exposed to selections from the genre, and will participate in individual and group activities including singing, dancing, and reading pieces. Students spend time researching and analyzing selections and have in class individual solo performances throughout the year. No previous experience required, but the desire to participate is mandatory.
    </p>
    <p>

    </p>
    <p>
        Grades 9-12, for non-majors only. Pre-requisites: none
    </p>
    <p>
        <strong>Musical Theatre II</strong> offers a continued study in the musical and dramatic elements of theatre arts for musical theatre majors. Focus is on solo performances, taking existing works from musical theatre literature and crafting individualized circumstances to fit the existing lyrics. Students also continue to analyze and critique professional performances, and are exposed to more selections from the art through group readings and discussions.
    </p>
    <p>
        Grades 9-10, majors only. Pre-requisites: Musical Theatre I
    </p>
    <p>
        <strong>Musical Theatre III</strong> offers a continued study in the musical and dramatic elements of theatre arts for musical theatre majors. Focus is on group scenes and songs, and performances using the given circumstances of the piece. Research is required to further expand students’ knowledge of the repertoire.
    </p>
    <p>
        Grades 11-12, majors only. Pre-requisites: Musical Theatre II

    </p>
    <p>
        <strong>The Choo Choo Kids</strong> are the advanced auditioned performance ensemble of the Musical Theatre department. Students will spend class time singing, dancing, and rehearsing pieces for their annual show, as well as rehearsing and learning an existing musical to be performed in the spring. Auditions for the Choo Choo Kids are held at the end of every school year for incoming high school musical theatre majors.
    </p>
    <p>
        Grades 9-12, majors only. Pre-requisites: by audition
    </p>
</ul>
