<a href="http://centerforcreativearts.net/wp-content/uploads/2015/11/Visart.jpg" rel="attachment wp-att-3993"><img class="alignnone size-medium wp-image-3993" src="http://centerforcreativearts.net/wp-content/uploads/2015/11/Visart-300x103.jpg" alt="Visart" width="300" height="103" /></a>

The Art Department is taught by Justin Black and Chad Burnette.

<span style="text-decoration: underline;"><strong>Art Fundamentals</strong></span>

This class is an introduction to the fundamentals and foundations of art making.  Students will be exposed to a variety of concepts and principles as they relate to different art forms and media, ranging from drawing and painting to ceramics and printmaking. This class is a foundation of general art knowledge.

Grades 6-8, majors or non-majors

<strong><u>Intermediate Art (Middle School)</u></strong>

This class will focus on the foundations of two dimensional and three-dimensional art-making.  There will be emphasis placed on mastery of technique, craftsmanship, and presentation.  Additionally, students will be exposed to art concepts, theory, and history. This class will prepare students for high school studio classes.

Grades 7-8 majors only. Pre-requisite: Art Fundamentals or by permission

<strong><u>Studio I</u></strong>

Students will learn the elements of two-dimensional design, including layout, compositional arrangement, and color theory. Students will become proficient in studio skills such as mounting and gallery preparation. In addition, students will begin their study of three-dimensional problem solving, including relief and ceramic work.

Grades 9-10, majors; non-majors by permission

<strong><u>Photography and Film</u></strong>

This class is an introduction to the discipline of photography and motion picture for freshmen and sophomore students.  It includes the fundamentals of SLR cameras, shutters, exposure meters, enlargers, lenses, filters, and lighting.  Artists will gain experience developing in a darkroom, close-up photography, special techniques and effects, including digital manipulation.

Grades 9-10, majors; non-majors by permission

<strong><u>Advanced Photography and Film</u></strong>

This class provides exposure to advanced methods and materials, including digital imagery and motion picture.  The emphasis is on individual artistic development and vision within the media.

Grades 10-12, majors; non-majors by permission. Pre-requisite: Photo &amp; Film

<strong><u>Drawing I &amp; Painting I</u></strong>

An exploration in the disciplines of Academic Drawing and Painting for freshmen and sophomore students.  This class will focus on the foundations of two dimensional art-making.  There will be emphasis placed on mastery of technique, craftsmanship, and presentation.  Special topics will include linear perspective, observational skills, and Chiaroscuro techniques as well as compositional issues.  Additionally, students will be exposed to art concepts, theory, and history.

Grades 9-10, majors and non-majors

<strong><u>Drawing II </u></strong>

Continuation of Drawing &amp; Painting in which artists explore more advanced problems reflecting creativity and compositional principals.  Exploration of individual thematic concerns and development within drawing media.  Exposure to advanced methods and nontraditional materials.  Special topics will include the refinement of individual artistic vision.

Grades 10-12, majors; non-majors by permission. Prerequisite: Drawing &amp; Painting.

<strong><u>Painting II (Offered every other year 2017-18)</u></strong>

Continuation of Drawing &amp; Painting in which artists explore more advanced problems reflecting creativity and compositional principals.  Exploration of individual thematic concerns and development within wet media.  Exposure to advanced methods including oil medium.  Special topics will include the refinement of individual artistic vision, mixed, and nontraditional media.

Grades 10-12, majors; non-majors by permission. Prerequisite: Drawing &amp; Painting.

<strong><u>Studio Art 2-Graphic Design </u></strong>

Graphic Design is an upper-level studio course using images and type to communicate visually.  This course will build on typographic imaging and compositional skills students have learned previously.  Students will expand upon the potential of image-type relationships in a project based course aimed to strengthen students' conceptual abilities.  Students will increase their awareness of typography and composition in the business world while gaining a more advanced understanding of two-dimensional layout and design.  Students will use type and image to communicate visually and will become proficient in the use of design software, printmaking techniques, digital photography, and other techniques from history to present.

10-12, majors; non-majors by permission. Prerequisites: Drawing &amp; Painting, Studio I

<strong><u>3-D Design -Problem Solving   </u></strong>

Students will learn basic sculpture design and fabrication skills. They will be asked to solve three- dimensional problems where form and function meet, using a variety of materials such as wood, metal, and cement.

<strong><u>AP Studio Art</u></strong> enables highly motivated students to complete college level work while still in high school. AP studio art credit is based on a portfolio of work submitted for evaluation to the College Board. The program involves more time and commitment than regular high school courses, and is therefore intended for the student who is seriously committed to art. Completion of homework assignments and prolific outside work are an integral part of this course.

Students will develop a portfolio demonstrating creative problem solving using their knowledge of elements of art and principles of 3-D design. The portfolio will consist of three parts: breadth, quality, and concentration. Students are expected to be involved in a sustained investigation of all three aspects of their portfolio development throughout the course.  Students who complete the AP Portfolio and exam requirements receive an additional 5 points on their final average.

Grades 10-12, majors only.

<span style="text-decoration: underline;"><strong>3D Ceramics (Offered every other year 2017-18) </strong></span>

This class is designed for students who have an interest in working with clay, and gives students experiences in making functional as well as sculptural pieces, using a variety of techniques. Students will create works of art in clay utilizing the processes of hand building using coils and slabs as well as wheel throwing. They will also learn the chemistry behind glazes, glaze their projects, and learn about the method used to fire their works.

Grades 10-12 majors only.

<span style="text-decoration: underline;"><strong>Advanced Placement Studio Art – 2D Design</strong></span>

AP Studio Art enables highly motivated students to complete college level work while still in high school.  AP Studio Art credit is based on a portfolio of work submitted for evaluation to the College Board.  The program involves more time and commitment than regular high school courses, and is therefore intended for the student who is seriously committed to art.  Completion of homework assignments and prolific outside work are an integral part of this course.

Students will develop a portfolio demonstrating creative problem solving using their knowledge of elements of art and principles of 2-D design.  The portfolio will consist of three parts: breadth, quality, and concentration.  Students are expected to be involved in a sustained investigation of all three aspects of their portfolio development throughout the course.

Grades 10-12, majors only. Students taking the AP exam will have additional costs.