<h1><center><font face="berlin sans fb" size="5"></font> Vocal Music</center></h1>


<center><img src="Music.jpeg" alt="Music" style="width:350px;height:350px;"> </center>
<p>Make something <strong>amazing</strong> with your voice!</p>
<p>The Vocal Music Department teachers are Neshawn Calloway and Marcia Smith.</p>

<font size="5"> Glee Club</font>

<p>
    This is a choral group for students who want to sample choral music. Repertoire will include folk, jazz, pop, spirituals, and contemporary pieces for four- part chorus
    <strong> Grades 6-8, majors and non-majors</strong>
</p>
<p>
    <font size="5"> Chorus</font>
</p>
  This is a choir with emphasis on singing folk music and standard choral repertoire. It is assumed that students will have had experience singing in a choral ensemble, equivalent to one or two years of participation in Glee Club.

<strong>Grades 7-8, majors; non-majors by permission</strong>
<p>
    <font size="5">Choral Union </font>
</p>
<p>
    This is an un-auditioned choir open to students who enjoy singing. Students will explore a variety of musical styles for four-part choir, including traditional and contemporary repertoire.

    <strong>Grades 9-12, majors and non-majors</strong>
</p>
<p>
    <font size="5">Choir</font>
</p>
<p>
    This is an auditioned choir with emphasis on singing large choral masterworks. Students will also learn shorter works, including spirituals, contemporary sacred pieces, and both traditional and contemporary secular pieces.

    <strong> Grades 10-12, majors; non-majors by permission</strong>
</p>
<p>
    <font size="5"> Women's Ensemble</font>
</p>
<p>
    In this choral ensemble, emphasis is on singing choral works for mature treble voices. Students will learn both classical and contemporary pieces that require higher levels of vocal facility and technique.

    <strong>Grades 10-12, majors; non-major by permission </strong>
</p>
<p>
    <font size="5">Vocal Repertoire</font>
</p>
<p>
    Students prepare solo repertoire for audition. Content includes opera, jazz, and art songs. Students will perform solos and ensembles at semi-annual recitals and in special programs such as Jazz Café.

    <strong>Grades 10-12, majors; non-major by permission</strong>
</p>
